@import "tailwindcss";


html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0
;
}

@theme {
  --color-primarytext: #222831;
  --color-secondarytext: #393E46;
  --color-theme:#00ADB5;
  --color-shade:#f2f2f2
}